body{
  margin: 20px;
}

input{
  display: block;
}
input[type=text],input[type='email']{
  border: 1px solid grey;
  font-size: 28px;
  height: 50px;
}
input[type=text]::placeholder{
color: rgb(36, 240, 36);
}
input[type="email"]::placeholder{
  color:rgb(255, 0, 0);
}
input[type="submit"]{
  padding: 10px;
  width: 150px;
  font-size: 30px;
}
