*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
   min-height:100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #98fb98;
}
.product{
  flex-basis: 23%;
  height: 50vh;
  background-color: #fff;
  margin: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  min-height: 200px
}
.product1{
  background-image: url(../img/product-1.jpg)
}
.product2{
  background-image: url(../img/product-2.jpg);
}
.product3{
  background-image: url(../img/product-3.jpg);
}
.product4{
  background-image: url(../img/product-4.jpg);
}
.product::after{
   content: "";
    z-index: -1;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.product:hover::after{
content: "\f07a";
font-family: "FontAwesome";
 font-weight: 900;
 font-size: 100px;
 text-align: center;
 color: white;
 line-height: 50vh;
display: inline-block;
width: 100%;
height: 100%;
background-color: rgba(255, 111, 0, .6)

}

/* ROZDZIELCZOSĆ PONIŻEJ 992PX */

@media (max-width:992px){
  .wrapper{
    flex-wrap: wrap;
  }
  .product{
    flex-basis:40%;
    height: 40vh;
    margin: 20px;
  }
  .product:hover::after{
    font-size: 75px;
    line-height: 40vh;
  }
}

/* ROZDZIELCZOSĆ PONIŻEJ 480PX */
@media (max-width:480px){
  .wrapper{
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
  }
  .product{
    width:60%;
    height: 15vh;
    margin: 10px;
  }
  .product:hover::after{
    font-size: 75px;
    line-height: 40vh;
  }
}